* {
    padding: 0;
    margin: 0;
}

.main {
    display: grid;
    grid-template-rows: 122px 785px 90px 785px 290px 1121px 1270px;
    grid-template-areas: "menu" "slider" "blank" "featured-products" "purchase" "view" "recent-products";
}

.blank {
    grid-area: blank;
    background-color: #ECF0F1;
}

.black {
    font-family: 'Lato Black';
}

.light {
    font-family: 'Lato Light';
}

.main .menu {
    grid-area: menu;
    background-color: #2C3E50;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 5px solid #FFFFFF;
}

.main .menu .logo {
    display: flex;
    font-family: 'Lato';
}

.main .menu .logo img {
    height: 52px;
    width: 46px;
    margin-right: 20px;
    position: relative;
    top: 10px;
}

.main .menu .logo .logotext p:first-of-type {
    font-size: 23.8px;
    color: #ECF0F1;
}

.main .menu .logo .logotext p:last-of-type {
    line-height: 33.71px;
}

.main .menu .logo .logotext p span:first-of-type {
    font-size: 35.69px;
    line-height: 33.71px;
    color: #ECF0F1;
}

.main .menu .logo .logotext p span:last-of-type {
    font-size: 35.69px;
    color: #1ABC9C;
}

.main .menu .nav {
    display: flex;
    flex-direction: row;
    margin-left: 120px;
}

.main .menu .nav ul {
    display: flex;
}

.main .menu .nav li {
    list-style: none;
    text-align: center;
    font-size: 15px;
    line-height: 19px;
    padding: 50px 35px 44px 0px;
}

.main .menu .nav li:last-of-type {
    padding-right: 29px;
}

.main .menu .nav li a {
    text-decoration: none;
    list-style: none;
    color: #FFFFFF;
}

.main .menu .nav li a:hover {
    color: #1ABC9C;
    border-top: 5px solid#1ABC9C;
    padding-top: 52px;
}

.main .menu .nav li a:hover i {
    color: #FFFFFF;
}

.fa-chevron-down {
    margin-left: 5px;
}

.menuicons img:first-child {
    margin-right: 10px;
}

.main .slider {
    grid-area: slider;
    background-color: #2C3E50;
}

.fa-angle-left, .fa-angle-right {
    color: #FFFFFF;
    font-size: 18px;
}

.wrapslider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding: 70px;
}

.arrow {
    border: 1px solid #FFFFFF;
    padding: 13.375px 21.145px 13.375px 21.145px;
    border-radius: 10%;
}

.arrow:hover {
    background-color: #FFFFFF;
}

.arrow:hover .fa {
    color: #2C3E50;
}

.sltext {
    margin-left: -117px;
    margin-top: -100px;
}

.sltext h3 {
    font-size: 36px;
    color: #FFFFFF;
    font-weight: 100;
}

.sltext span {
    font-size: 90px;
    color: #FFFFFF;
}

.sltext span:first-of-type {
    font-family: 'Lato';
}

.sltext span:last-of-type {
    margin-left: 20px;
    font-size: 80px;
    border: 2px solid #FFFFFF;
    padding: 0px 17px;
    border-radius: 10%;
    line-height: 19px;
}

.sltext p {
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
    width: 570px;
    margin: 50px 0px;
}

.sltext input.vm {
    width: 160px;
    height: 50px;
    background-color: #1D2C3B;
    border: none;
    margin-right: 10px;
    font-size: 18px;
    line-height: 19px;
    color: #FFFFFF
}

.sltext input.pr {
    width: 160px;
    height: 50px;
    background-color: #1ABC9C;
    border: none;
    font-size: 18px;
    line-height: 19px;
    color: #FFFFFF;
}

.pagination {
    position: relative;
    top: -145px;
    justify-content: center;
    display: flex;
}

.featured-products {
    display: grid;
    grid-area: featured-products;
    grid-template-rows: 44px 562px;
    background-color: #ECF0F1;
}

.featured-products .header {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 1171px;
}

.featured-products .header p span {
    color: #34495E;
    font-size: 36px;
}

.featured-products .header .arrows .fa {
    font-size: 24px;
    border: 1px solid #CDD9E1;
    background-color: #FFFFFF;
    color: #A1B1BC;
    padding: 3px 11px 5px 9px;
    border-radius: 30%;
}

.featured-products .header .arrows .fa:last-of-type {
    padding: 3px 9px 5px 11px;
}

.featured-products .featured-items {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(4, 270px);
    grid-template-rows: 562px;
    margin: auto;
    width: 1171px;
    margin-top: 42px;
}

.featured-products .featured-items img {
    height: 370px;
    width: 270px;
}

.featured-products .featured-items .featured-product {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    border-radius: 20px;
    border: 1px solid #E6E6E6;
    position: relative;
}

.featured-products .featured-items .featured-product:hover .info {
    background-color: #2C3E50;
    border-color: rgba(230, 230, 230, 0.1);
}

.featured-products .featured-items .featured-product:hover .butt {
    background-color: #2C3E50;
    border-color: rgba(230, 230, 230, 0.1);
}

.featured-products .featured-items .featured-product:hover .info p:first-of-type {
    color: #FFFFFF;
}

.featured-products .featured-items .featured-product:hover .info p:last-of-type {
    color: #FFFFFF;
}

.featured-products .featured-items .featured-product:hover .butt button:first-of-type {
    background-color: #1ABC9C;
}

.featured-products .featured-items .featured-product:hover .butt button:last-of-type {
    background-color: transparent;
    border: 1px solid #FFFFFF;
}

.featured-products .featured-items .featured-product::after {
    content: '';
    display: block;
    position: absolute;
    width: 268px;
    border-radius: 20px;
    top: -1px;
    left: -1px;
    height: 370px;
    border: 1px solid #FFFFFF;
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.featured-products .featured-items .featured-product img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 268px;
}

.featured-products .featured-items .featured-product .info {
    padding: 11px 20px;
    border: 1px solid #E6E6E6;
    border-left: none;
    border-right: none;
}

.featured-products .featured-items .featured-product .info p {
    color: #2C3E50;
    font-size: 18px;
    line-height: 33px;
}

.featured-products .featured-items .featured-product .info .review .fa-star {
    color: #1ABC9C;
    font-size: 15px;
    line-height: 33px;
}

.featured-products .featured-items .featured-product .info .review .fa-star-o {
    color: #A1B1BC;
    font-size: 15px;
    line-height: 33px;
}

.featured-products .featured-items .featured-product .info p:last-of-type {
    color: #2C3E50;
    font-size: 20px;
    line-height: 33px;
}

.featured-products .featured-items .featured-product .butt button {
    background-color: #A1B1BC;
    border-radius: 5px;
    border: none;
    width: 105px;
    height: 28px;
    font-family: 'Lato';
    color: #FFFFFF;
    font-size: 13px;
    padding: 5px;
}

.featured-products .featured-items .featured-product .butt {
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.featured-products .featured-items .featured-product .butt button:first-of-type {
    margin-right: 13px;
}

.featured-products .featured-items .featured-product .butt button span {
    padding: 5px;
    position: relative;
    top: -2px;
}

.featured-products .featured-items .featured-product .butt button img:first-of-type {
    width: 14px;
    height: 13px;
}

.featured-products .featured-items .featured-product .butt button img:last-of-type {
    width: 12px;
    height: 14px;
}

.butt {
    padding: 20px;
}

.purchase {
    grid-area: purchase;
    display: grid;
    grid-template-rows: repeat(2, 60px);
    grid-template-columns: 150px 780px 235px;
    margin: auto;
    width: 1171px;
    background-color: #FFFFFF;
    padding: 10px;
    border: 1px solid #DFE8EA;
    border-radius: 10px;
}

.purchase-icon {
    grid-row: span 2;
}

.purchase-icon img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 25px;
}

.purchase-text {
    grid-column: 2/3;
}

.purchase-button {
    grid-row: 1/3;
    grid-column: 3/4;
}

.purchase-title h3 {
    font-size: 24px;
    color: #34495E;
    font-family: 'Lato';
    position: relative;
    top: 20px;
}

.purchase-text p {
    color: #A1B1BC;
    font-family: 'Lato';
    font-size: 14px;
}

.purchase-button input {
    width: 180px;
    height: 60px;
    background-color: #34495E;
    color: #FFFFFF;
    border-radius: 10px;
    border: none;
    position: relative;
    top: 50%;
    left: 23px;
    transform: translateY(-50%);
    border-bottom: 4px solid #2C3E50;
}

.view {
    grid-area: view;
    display: grid;
    width: 1171px;
    margin: auto;
    grid-template-rows: 600px 455px;
    grid-template-columns: repeat(3, 383px);
    grid-gap: 10px;
    margin-bottom: 50px;
}

.main-view {
    grid-column: span 3;
    background-color: #CCCCCC;
}

.view-item {
    display: grid;
    grid-template-rows: 200px 205px 50px;
    grid-template-areas: "view-img" "view-text" "view-more"
}

.view-item:hover .view-img {
    background-color: #1ABC9C;
}

.view-item .view-img .overlay {
    position: relative;
    top: -205px;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    display: none;
    background-color: #1ABC9C;
}

.view-item:hover .view-img .overlay {
    display: block;
}

.view-item:hover .view-img .overlay .imgplus img {
    position: relative;
    top: 50%;
    transform: translate(-50%, 100%);
    left: 50%;
}

.view-item:hover .view-text {
    background-color: #2C3E50;
}

.view-item:hover .view-text p:first-of-type {
    color: #FFFFFF;
}

.view-item:hover .view-more a {
    color: #FFFFFF;
}

.view-item:hover .view-more {
    background-color: #1E2A37;
}

.view-text {
    background-color: #ECF0F1;
    padding: 20px;
}

.view-text p:first-of-type {
    color: #2C3E50;
    font-size: 18px;
    font-family: 'Lato';
    font-weight: bold;
    margin-bottom: 15px;
}

.view-text p:last-of-type {
    color: #A1B1BC;
    font-size: 14px;
    font-family: 'Lato';
}

.view-more {
    background-color: #1ABC9C;
    padding: 0px 20px;
}

.view-more a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Lato';
    position: relative;
    top: 32%;
    transform: translateY(-50%);
}

.main-view .main-text p.light {
    font-size: 60px;
    color: #2C3E50;
}

.main-view .main-text {
    float: right;
    position: relative;
    top: 35%;
    right: 88px;
}

.main-view .main-text p span {
    color: #FFFFFF;
    background-color: #17D8B2;
    padding: 0px 9px;
    border-radius: 10px;
    font-size: 53.5px;
}

.main-view .main-text .description {
    margin-top: 20px;
    width: 252px;
}

.main-view .main-text .description p {
    font-size: 18px;
    color: #2C3E50;
    line-height: 36px;
    font-family: 'Lato';
}

.main-view .main-text input {
    background-color: #2C3E50;
    height: 50px;
    width: 150px;
    color: white;
    font-size: 18px;
    border: none;
    font-family: 'Lato';
    margin-top: 30px;
}

/*recent products*/

.recent-products {
    display: grid;
    grid-template-rows: 44px 562px 562px;
    background-color: #FFFFFF;
}

.recent-products .header {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 1171px;
}

.recent-products .header p span {
    color: #34495E;
    font-size: 36px;
}

.recent-products .header .arrows .fa {
    font-size: 24px;
    border: 1px solid #CDD9E1;
    background-color: #FFFFFF;
    color: #A1B1BC;
    padding: 3px 11px 5px 9px;
    border-radius: 30%;
}

.recent-products .header .arrows .fa:last-of-type {
    padding: 3px 9px 5px 11px;
}

.recent-products .recent-items {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(4, 270px);
    grid-template-rows: repeat(2, 562px);
    margin: auto;
    width: 1171px;
    margin-top: 42px;
}

.recent-products .recent-items img {
    height: 370px;
    width: 270px;
}

.recent-products .recent-items .recent-product {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    border-radius: 20px;
    border: 1px solid #E6E6E6;
    position: relative;
}

.recent-products .recent-items .recent-product:hover .info {
    background-color: #2C3E50;
    border-color: rgba(230, 230, 230, 0.1);
}

.recent-products .recent-items .recent-product:hover .butt {
    background-color: #2C3E50;
    border-color: rgba(230, 230, 230, 0.1);
}

.recent-products .recent-items .recent-product:hover .info p:first-of-type {
    color: #FFFFFF;
}

.recent-products .recent-items .recent-product:hover .info p:last-of-type {
    color: #FFFFFF;
}

.recent-products .recent-items .recent-product:hover .butt button:first-of-type {
    background-color: #1ABC9C;
}

.recent-products .recent-items .recent-product:hover .butt button:last-of-type {
    background-color: transparent;
    border: 1px solid #FFFFFF;
}

.recent-products .recent-items .recent-product::after {
    content: '';
    display: block;
    position: absolute;
    width: 268px;
    border-radius: 20px;
    top: -1px;
    left: -1px;
    height: 370px;
    border: 1px solid #FFFFFF;
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.recent-products .recent-items .recent-product img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 268px;
    z-index: 1;
}

.recent-products .recent-items .recent-product .info {
    padding: 11px 20px;
    border: 1px solid #E6E6E6;
    border-left: none;
    border-right: none;
}

.recent-products .recent-items .recent-product .info p {
    color: #2C3E50;
    font-size: 18px;
    line-height: 33px;
}

.recent-products .recent-items .recent-product .info .review .fa-star {
    color: #1ABC9C;
    font-size: 15px;
    line-height: 33px;
}

.recent-products .recent .recent-product .info .review .fa-star-o {
    color: #A1B1BC;
    font-size: 15px;
    line-height: 33px;
}

.recent-products .recent-items .recent-product .info p:last-of-type {
    color: #2C3E50;
    font-size: 20px;
    line-height: 33px;
}

.recent-products .recent-items .recent-product .butt button {
    background-color: #A1B1BC;
    border-radius: 5px;
    border: none;
    width: 105px;
    height: 28px;
    font-family: 'Lato';
    color: #FFFFFF;
    font-size: 13px;
    padding: 5px;
}

.recent-products .recent-items .recent-product .butt {
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.recent-products .recent-items .recent-product .butt button:first-of-type {
    margin-right: 13px;
}

.recent-products .recent-items .recent-product .butt button span {
    padding: 5px;
    position: relative;
    top: -2px;
}

.recent-products .recent-items .recent-product .butt button img:first-of-type {
    width: 14px;
    height: 13px;
}

.recent-products .recent-items .recent-product .butt button img:last-of-type {
    width: 12px;
    height: 14px;
}

.recent-product .recent-featured {
    width: 270px;
    height: 50px;
    background-color: #E46960;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    z-index: 2;
}

.recent-products .recent-items .recent-product img.height {
    height: 318px;
}

.recent-products .recent-items .recent-product .recent-featured img {
    height: 20px;
    width: 24px;
}

.recent-products .recent-items .recent-product .recent-featured {
    display: flex;
    justify-content: space-between;
}

.recent-products .recent-items .recent-product .recent-featured p {
    padding: 16px 0px 20px 20px;
    font-size: 15px;
    font-family: 'Lato';
    color: #FFFFFF;
}

.recent-products .recent-items .recent-product .recent-featured img {
    padding: 17px 20px;
}

/* best seller*/

.recent-product .recent-best {
    width: 270px;
    height: 50px;
    background-color: #21C2F8;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    z-index: 2;
}

.recent-products .recent-items .recent-product .recent-best img {
    height: 20px;
    width: 24px;
}

.recent-products .recent-items .recent-product .recent-best {
    display: flex;
    justify-content: space-between;
}

.recent-products .recent-items .recent-product .recent-best p {
    padding: 16px 0px 20px 20px;
    font-size: 15px;
    font-family: 'Lato';
    color: #FFFFFF;
}

.recent-products .recent-items .recent-product .recent-best img {
    padding: 17px 20px;
}

.recent-products .recent-items .recent-product .info .price {
    display: flex;
    flex-direction: row;
}

.recent-products .recent-items .recent-product .info .price span {
    color: #FFFFFF;
    width: 90px;
    height: 30px;
    font-size: 20px;
    line-height: 33px;
    background-color: #21C2F8;
    border-radius: 5px;
    text-align: center;
    margin-left: 10px;
}

.recent-products .recent-items .recent-product .info .price span:hover::after {
    content: '+';
    display: block;
    position: relative;
    width: 40px;
    height: 30px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    top: -33px;
    left: 87px;
    background-color: #2C3E50;
}

/*
.view-item:hover .view-img {
    background-color: #1ABC9C;
}

.view-item .view-img .overlay {
    position: relative;
    top: -205px;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    display: none;
    background-color: #1ABC9C;
}

.view-item:hover .view-img .overlay {
    display: block;
}
*/