* {
    padding: 0;
    margin: 0;
}

.main {
    display: grid;
    grid-template-rows: 122px 783px 90px 745px 290px 1121px 1377px 800px 673px 528px 300px;
    grid-template-columns: 100%;
    grid-template-areas: "menu" "slider" "blank" "featured-products" "purchase" "view" "recent-products" "recent-news" "slider2" "about" "customers";
}

.blank {
    grid-area: blank;
    background-color: #ECF0F1;
}

.black {
    font-family: 'Lato Black';
}

.light {
    font-family: 'Lato Light';
}

.main .menu {
    grid-area: menu;
    background-color: #2C3E50;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 5px solid #FFFFFF;
}

.main .menu .logo {
    display: flex;
    font-family: 'Lato';
}

.main .menu .logo img {
    height: 52px;
    width: 46px;
    margin-right: 20px;
    position: relative;
    top: 10px;
}

.main .menu .logo .logotext p:first-of-type {
    font-size: 23.8px;
    color: #ECF0F1;
}

.main .menu .logo .logotext p:last-of-type {
    line-height: 33.71px;
}

.main .menu .logo .logotext p span:first-of-type {
    font-size: 35.69px;
    line-height: 33.71px;
    color: #ECF0F1;
}

.main .menu .logo .logotext p span:last-of-type {
    font-size: 35.69px;
    color: #1ABC9C;
}

.main .menu .nav {
    display: flex;
    flex-direction: row;
    margin-left: 81px;
    position: relative;
    left: 38px;
}

.main .menu .nav ul {
    display: flex;
}

.main .menu .nav li {
    list-style: none;
    text-align: center;
    font-size: 15px;
    line-height: 19px;
    padding: 46px 33px 44px 0px;
}

.main .menu .nav li:last-of-type {
    padding-right: 50px;
}

.main .menu .nav li a {
    text-decoration: none;
    list-style: none;
    color: #FFFFFF;
}

.main .menu .nav li a:hover {
    color: #1ABC9C;
    border-top: 5px solid#1ABC9C;
    padding-top: 52px;
}

.main .menu .nav li a:hover i {
    color: #FFFFFF;
}

.fa-chevron-down {
    margin-left: 5px;
}

.menuicons img:first-child {
    margin-right: 10px;
}

.main .slider {
    grid-area: slider;
    background-color: #2C3E50;
}

.fa-angle-left, .fa-angle-right {
    color: #FFFFFF;
    font-size: 18px;
}

.wrapslider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding: 70px;
}

.wrapslider img {
    display: inline-block;
    margin-right: 40px;
    margin-bottom: 26px;
}

.arrow {
    border: 1px solid #FFFFFF;
    padding: 13.375px 21.145px 13.375px 21.145px;
    border-radius: 10%;
    transform: translateY(-125%);
}

.arrow:hover {
    background-color: #FFFFFF;
}

.arrow:hover .fa {
    color: #2C3E50;
}

.sltext {
    margin-left: -117px;
    margin-top: -100px;
}

.sltext h3 {
    font-size: 36px;
    color: #FFFFFF;
    font-weight: 100;
}

.sltext span {
    font-size: 90px;
    color: #FFFFFF;
}

.sltext span:first-of-type {
    font-family: 'Lato';
}

.sltext span:last-of-type {
    margin-left: 20px;
    font-size: 80px;
    border: 2px solid #FFFFFF;
    padding: 0px 17px;
    border-radius: 10%;
    line-height: 19px;
}

.sltext p {
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
    width: 570px;
    margin: 50px 0px;
}

.sltext input.vm {
    width: 160px;
    height: 50px;
    background-color: #1D2C3B;
    border: none;
    margin-right: 10px;
    font-size: 18px;
    line-height: 19px;
    color: #FFFFFF
}

.sltext input.pr {
    width: 160px;
    height: 50px;
    background-color: #1ABC9C;
    border: none;
    font-size: 18px;
    line-height: 19px;
    color: #FFFFFF;
}

.pagination {
    position: relative;
    top: -145px;
    justify-content: center;
    display: flex;
}

.featured-products {
    display: grid;
    grid-area: featured-products;
    grid-template-rows: 44px 562px;
    background-color: #ECF0F1;
}

.featured-products .header {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 1171px;
}

.featured-products .header p span {
    color: #34495E;
    font-size: 36px;
}

.featured-products .header .arrows .fa {
    font-size: 24px;
    border: 1px solid #CDD9E1;
    background-color: #FFFFFF;
    color: #A1B1BC;
    padding: 3px 11px 5px 9px;
    border-radius: 30%;
}

.featured-products .header .arrows .fa:last-of-type {
    padding: 3px 9px 5px 11px;
}

.featured-products .featured-items {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(4, 270px);
    grid-template-rows: 562px;
    margin: auto;
    width: 1171px;
    margin-top: 42px;
}

.featured-products .featured-items img {
    height: 370px;
    width: 270px;
}

.featured-products .featured-items .featured-product {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    border-radius: 20px;
    border: 1px solid #E6E6E6;
    position: relative;
}

.featured-products .featured-items .featured-product:hover .info {
    background-color: #2C3E50;
    border-color: rgba(230, 230, 230, 0.1);
}

.featured-products .featured-items .featured-product:hover .butt {
    background-color: #2C3E50;
    border-color: rgba(230, 230, 230, 0.1);
}

.featured-products .featured-items .featured-product:hover .info p:first-of-type {
    color: #FFFFFF;
}

.featured-products .featured-items .featured-product:hover .info p:last-of-type {
    color: #FFFFFF;
}

.featured-products .featured-items .featured-product:hover .butt button:first-of-type {
    background-color: #1ABC9C;
}

.featured-products .featured-items .featured-product:hover .butt button:last-of-type {
    background-color: transparent;
    border: 1px solid #FFFFFF;
}

.featured-products .featured-items .featured-product::after {
    content: '';
    display: block;
    position: absolute;
    width: 268px;
    border-radius: 20px;
    top: -1px;
    left: -1px;
    height: 370px;
    border: 1px solid #FFFFFF;
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.featured-products .featured-items .featured-product img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 268px;
}

.featured-products .featured-items .featured-product .info {
    padding: 11px 20px;
    border: 1px solid #E6E6E6;
    border-left: none;
    border-right: none;
}

.featured-products .featured-items .featured-product .info p {
    color: #2C3E50;
    font-size: 18px;
    line-height: 33px;
}

.featured-products .featured-items .featured-product .info .review .fa-star {
    color: #1ABC9C;
    font-size: 15px;
    line-height: 33px;
}

.featured-products .featured-items .featured-product .info .review .fa-star-o {
    color: #A1B1BC;
    font-size: 15px;
    line-height: 33px;
}

.featured-products .featured-items .featured-product .info p:last-of-type {
    color: #2C3E50;
    font-size: 20px;
    line-height: 33px;
}

.featured-products .featured-items .featured-product .butt button {
    background-color: #A1B1BC;
    border-radius: 5px;
    border: none;
    width: 105px;
    height: 28px;
    font-family: 'Lato';
    color: #FFFFFF;
    font-size: 13px;
    padding: 5px;
}

.featured-products .featured-items .featured-product .butt {
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.featured-products .featured-items .featured-product .butt button:first-of-type {
    margin-right: 13px;
}

.featured-products .featured-items .featured-product .butt button span {
    padding: 5px;
    position: relative;
    top: -2px;
}

.featured-products .featured-items .featured-product .butt button img:first-of-type {
    width: 14px;
    height: 13px;
}

.featured-products .featured-items .featured-product .butt button img:last-of-type {
    width: 12px;
    height: 14px;
}

.butt {
    padding: 26px 20px;
}

.purchase {
    grid-area: purchase;
    display: grid;
    grid-template-rows: repeat(2, 59px);
    grid-template-columns: 160px 769px 235px;
    margin: auto;
    width: 1147px;
    background-color: #FFFFFF;
    padding: 10px;
    border: 1px solid #DFE8EA;
    border-radius: 10px;
    position: relative;
    top: 28px;
}

.purchase-icon {
    grid-row: span 2;
}

.purchase-icon img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 20px;
}

.purchase-text {
    grid-column: 2/3;
}

.purchase-button {
    grid-row: 1/3;
    grid-column: 3/4;
}

.purchase-title h3 {
    font-size: 24px;
    color: #34495E;
    font-family: 'Lato';
    position: relative;
    top: 20px;
}

.purchase-text p {
    color: #A1B1BC;
    font-family: 'Lato';
    font-size: 14px;
    line-height: 22px;
}

.purchase-button input {
    width: 180px;
    height: 60px;
    background-color: #34495E;
    color: #FFFFFF;
    border-radius: 10px;
    border: none;
    position: relative;
    top: 50%;
    left: 23px;
    transform: translateY(-50%);
    border-bottom: 4px solid #2C3E50;
    margin-left: -17px;
    margin-top: 2px;
}

.view {
    grid-area: view;
    display: grid;
    width: 1171px;
    margin: auto;
    grid-template-rows: 602px 457px;
    grid-template-columns: repeat(3, 383px);
    grid-gap: 10px;
    margin-bottom: 50px;
}

.main-view {
    grid-column: span 3;
    background-color: #CCCCCC;
}

.view-item {
    display: grid;
    grid-template-rows: 200px 205px 50px;
    grid-template-areas: "view-img" "view-text" "view-more"
}

.view-item:hover .view-img {
    background-color: #1ABC9C;
}

.view-item .view-img .overlay {
    position: relative;
    top: -205px;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    display: none;
    background-color: #1ABC9C;
}

.view-item:hover .view-img .overlay {
    display: block;
}

.view-item:hover .view-img .overlay .imgplus img {
    position: relative;
    top: 50%;
    transform: translate(-50%, 100%);
    left: 50%;
}

.view-item:hover .view-text {
    background-color: #2C3E50;
}

.view-item:hover .view-text p:first-of-type {
    color: #FFFFFF;
}

.view-item:hover .view-more a {
    color: #FFFFFF;
}

.view-item:hover .view-more {
    background-color: #1E2A37;
}

.view-text {
    background-color: #ECF0F1;
    padding: 25px 30px;
}

.view-text p:first-of-type {
    color: #2C3E50;
    font-size: 18px;
    font-family: 'Lato';
    font-weight: bold;
    margin-bottom: 9px;
}

.view-text p:last-of-type {
    color: #A1B1BC;
    font-size: 14px;
    font-family: 'Lato';
    line-height: 24px;
}

.view-more {
    background-color: #1ABC9C;
    padding: 0px 31px;
}

.view-more a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Lato';
    position: relative;
    top: 32%;
    transform: translateY(-50%);
}

.main-view .main-text p.light {
    font-size: 60px;
    color: #2C3E50;
}

.main-view .main-text {
    float: right;
    position: relative;
    top: 35%;
    right: 88px;
}

.main-view .main-text p span {
    color: #FFFFFF;
    background-color: #17D8B2;
    padding: 0px 9px;
    border-radius: 10px;
    font-size: 53.5px;
}

.main-view .main-text .description {
    margin-top: 20px;
    width: 252px;
}

.main-view .main-text .description p {
    font-size: 18px;
    color: #2C3E50;
    line-height: 36px;
    font-family: 'Lato';
}

.main-view .main-text input {
    background-color: #2C3E50;
    height: 50px;
    width: 150px;
    color: white;
    font-size: 18px;
    border: none;
    font-family: 'Lato';
    margin-top: 30px;
}

/*recent products*/

.recent-products {
    display: grid;
    grid-template-rows: 44px 562px 562px;
    background-color: #FFFFFF;
    margin-top: 37px;
}

.recent-products .header {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 1171px;
}

.recent-products .header p span {
    color: #34495E;
    font-size: 36px;
}

.recent-products .header .arrows .fa {
    font-size: 24px;
    border: 1px solid #CDD9E1;
    background-color: #FFFFFF;
    color: #A1B1BC;
    padding: 3px 11px 5px 9px;
    border-radius: 30%;
}

.recent-products .header .arrows .fa:last-of-type {
    padding: 3px 9px 5px 11px;
}

.recent-products .recent-items {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(4, 270px);
    grid-template-rows: repeat(2, 562px);
    margin: auto;
    width: 1171px;
    margin-top: 42px;
}

.recent-products .recent-items img {
    height: 370px;
    width: 270px;
}

.recent-products .recent-items .recent-product {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    border-radius: 20px;
    border: 1px solid #E6E6E6;
    position: relative;
}

.recent-products .recent-items .recent-product:hover .info {
    background-color: #2C3E50;
    border-color: rgba(230, 230, 230, 0.1);
}

.recent-products .recent-items .recent-product:hover .butt {
    background-color: #2C3E50;
    border-color: rgba(230, 230, 230, 0.1);
}

.recent-products .recent-items .recent-product:hover .info p:first-of-type {
    color: #FFFFFF;
}

.recent-products .recent-items .recent-product:hover .info p:last-of-type {
    color: #FFFFFF;
}

.recent-products .recent-items .recent-product:hover .butt button:first-of-type {
    background-color: #1ABC9C;
}

.recent-products .recent-items .recent-product:hover .butt button:last-of-type {
    background-color: transparent;
    border: 1px solid #FFFFFF;
}

.recent-products .recent-items .recent-product::after {
    content: '';
    display: block;
    position: absolute;
    width: 268px;
    border-radius: 20px;
    top: -1px;
    left: -1px;
    height: 370px;
    border: 1px solid #FFFFFF;
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.recent-products .recent-items .recent-product img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 268px;
    z-index: 1;
}

.recent-products .recent-items .recent-product .info {
    border: 1px solid #E6E6E6;
    border-left: none;
    border-right: none;
    padding: 9px 20px;
}

.recent-products .recent-items .recent-product .info p {
    color: #2C3E50;
    font-size: 18px;
    line-height: 33px;
}

.recent-products .recent-items .recent-product .info .review .fa-star {
    color: #1ABC9C;
    font-size: 15px;
    line-height: 33px;
    margin-right: -4px;
}

.recent-products .recent .recent-product .info .review fa-star-o {
    color: #A1B1BC;
    font-size: 11px;
    line-height: 33px;
}

.recent-products .recent .recent-product .info .review {
    position: relative;
    top: 2px;
    left: 1px;
}

.recent-products .recent-items .recent-product .info p:last-of-type {
    color: #2C3E50;
    font-size: 20px;
    line-height: 33px;
}

.recent-products .recent-items .recent-product .butt button {
    background-color: #A1B1BC;
    border-radius: 5px;
    border: none;
    width: 105px;
    height: 28px;
    font-family: 'Lato';
    color: #FFFFFF;
    font-size: 13px;
    padding: 5px;
}

.recent-products .recent-items .recent-product .butt {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.recent-products .recent-items .recent-product .butt button:first-of-type {
    margin-right: 13px;
}

.recent-products .recent-items .recent-product .butt button span {
    padding: 5px;
    position: relative;
    top: -2px;
}

.recent-products .recent-items .recent-product .butt button img:first-of-type {
    width: 14px;
    height: 13px;
}

.recent-products .recent-items .recent-product .butt button img:last-of-type {
    width: 12px;
    height: 14px;
}

.recent-product .recent-featured {
    width: 270px;
    height: 50px;
    background-color: #E46960;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    z-index: 2;
}

.recent-products .recent-items .recent-product img.height {
    height: 318px;
}

.recent-products .recent-items .recent-product .recent-featured img {
    height: 20px;
    width: 24px;
}

.recent-products .recent-items .recent-product .recent-featured {
    display: flex;
    justify-content: space-between;
}

.recent-products .recent-items .recent-product .recent-featured p {
    padding: 16px 0px 20px 20px;
    font-size: 15px;
    font-family: 'Lato';
    color: #FFFFFF;
}

.recent-products .recent-items .recent-product .recent-featured img {
    padding: 17px 20px;
}

/* best seller*/

.recent-product .recent-best {
    width: 270px;
    height: 50px;
    background-color: #21C2F8;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    z-index: 2;
}

.recent-products .recent-items .recent-product .recent-best img {
    height: 20px;
    width: 24px;
}

.recent-products .recent-items .recent-product .recent-best {
    display: flex;
    justify-content: space-between;
}

.recent-products .recent-items .recent-product .recent-best p {
    padding: 16px 0px 20px 20px;
    font-size: 15px;
    font-family: 'Lato';
    color: #FFFFFF;
}

.recent-products .recent-items .recent-product .recent-best img {
    padding: 17px 20px;
}

.recent-products .recent-items .recent-product .info .price {
    display: flex;
    flex-direction: row;
}

.recent-products .recent-items .recent-product .info .price span {
    color: #FFFFFF;
    width: 90px;
    height: 30px;
    font-size: 20px;
    line-height: 33px;
    background-color: #21C2F8;
    border-radius: 5px;
    text-align: center;
    margin-left: 10px;
}

.recent-products .recent-items .recent-product .info .price span:hover::after {
    content: '+';
    display: block;
    position: relative;
    width: 40px;
    height: 30px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    top: -33px;
    left: 87px;
    background-color: #2C3E50;
}

.recent-products .recent-items .recent-product.back:hover .info {
    background-color: #FFFFFF;
    border-color: #E6E6E6;
}

.recent-products .recent-items .recent-product.back:hover .butt {
    background-color: #FFFFFF;
    border-color: #E6E6E6;
}

.recent-products .recent-items .recent-product.back:hover .info p:first-of-type {
    color: #2C3E50;
}

.recent-products .recent-items .recent-product.back:hover .info p:last-of-type {
    color: #2C3E50;
}

.recent-products .recent-items .recent-product.back:hover .butt button:first-of-type {
    background-color: #A1B1BC;
}

.recent-products .recent-items .recent-product.back:hover .butt button:last-of-type {
    background-color: #A1B1BC;
    border: 1px solid #E6E6E6;
}

.recent-products .recent-items .recent-product.back .info p:first-of-type {
    position: relative;
    top: -2px;
    left: 1px;
    letter-spacing: -1.3px;
}

.recent-products .recent-items .recent-product.back .info .price p {
    letter-spacing: 0.19px;
}

.recent-products .recent-items .recent-product.back .info {
    padding-bottom: 9px;
}

.recent-products .recent-items .recent-product.back .butt {
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

/*Recent News*/

.recent-news {
    grid-area: recent-news;
    display: grid;
    grid-template-rows: 90px 44px 45px 420px;
    background-color: #ECF0F1;
}

.recent-news .header {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 1171px;
    margin-bottom: 45px;
}

.recent-news .header p span {
    color: #34495E;
    font-size: 36px;
}

.recent-news .header .arrows .fa {
    font-size: 24px;
    border: 1px solid #CDD9E1;
    background-color: #FFFFFF;
    color: #A1B1BC;
    padding: 3px 11px 5px px;
    border-radius: 30%;
}

.recent-news .header .arrows a:hover .fa {
    border: 1px solid #2C3E50;
    background-color: #2C3E50;
    color: #FFFFFF;
    padding: 3px 11px 5px 9px;
    border-radius: 30%;
}

.recent-news .header .arrows .fa:last-of-type {
    padding: 3px 9px 5px 11px;
}

.news {
    display: grid;
    grid-template-rows: 195px 195px;
    grid-template-columns: 570px 570px;
    grid-gap: 30px;
    width: 1171px;
    margin: auto;
}

.blog {
    display: grid;
    grid-template-rows: 40px 40px 40px 71px;
    grid-template-columns: 40px 260px 271px;
    grid-gap: 1px;
}

.recent-news .news .blog .icon1 {
    grid-column: 1/2;
    grid-row: 1/2;
    background-color: #1ABC9C;
}

.recent-news .news .blog .icon1 i {
    color: #FFFFFF;
    width: 16px;
    height: 18px;
    line-height: 20px;
    position: relative;
    top: 25%;
    left: 35%;
}

.recent-news .news .blog .icon2 {
    grid-row: 2/3;
    grid-column: 1/2;
    background-color: #3A3E4A;
}

.recent-news .news .blog .icon2 i {
    color: #FFFFFF;
    width: 10px;
    height: 18px;
    line-height: 20px;
    position: relative;
    top: 25%;
    left: 40%;
}

.recent-news .news .blog .icon3 {
    grid-row: 3/4;
    grid-column: 1/2;
    background-color: #686D80;
}

.recent-news .news .blog .icon3 i {
    color: #FFFFFF;
    width: 18px;
    height: 18px;
    line-height: 20px;
    position: relative;
    top: 25%;
    left: 32%;
}

.recent-news .news .blog .icon4 {
    grid-row: 4/6;
    grid-column: 1/2;
    background-color: #686D80;
}

.recent-news .news .blog .icon4 p {
    color: #FFFFFF;
    font-family: 'Arial';
    font-size: 14px;
    line-height: 20px;
    position: relative;
    top: 21%;
    left: 24%;
}

.recent-news .news .blog:hover .icon1 {
    background-color: #17181B;
}

.recent-news .news .blog:hover .icon2 {
    background-color: #7BC200;
}

.recent-news .news .blog .blog-image {
    grid-row: 1/6;
    grid-column: 2/3;
    background-color: #CCCCCC;
}

.recent-news .news .blog .content {
    grid-row: 1/6;
    grid-column: 3/4;
    background-color: #FFFFFF;
    border: 1px solid #E7EBED;
    display: flex;
    flex-direction: column;
    padding: 13px 16px 16px 19px;
}

.content:after {
    content: url('../img/arrow.png');
    position: relative;
    z-index: 100000;
    left: -27px;
    top: -157px;
    filter: drop-shadow(0px 0px 0 #E7EBED) drop-shadow(0px 0px 0 #E7EBED);
}

.recent-news .news .blog .content h3 {
    color: #2C3E50;
    font-family: 'Lato';
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 3px;
}

.recent-news .news .blog .content p:first-of-type {
    color: #34495E;
    font-family: 'Lato';
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 13px;
}

.recent-news .news .blog .content p:last-of-type {
    color: #A1B1BC;
    font-family: 'Lato';
    font-size: 15px;
    line-height: 24px;
}

.recent-news .news .blog .blog-image .over {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    display: none;
    background-color: #1ABC9C;
}

.recent-news .news .blog:hover .blog-image .over {
    display: block;
}

.recent-news .news .blog:hover .blog-image .over i {
    position: relative;
    top: 50%;
    transform: translate(-100%, -25%);
    left: 50%;
    color: #FFFFFF;
    font-size: 30px;
    line-height: 33px;
}

.slider2 {
    grid-area: slider2;
    background-color: #000000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.slider2 .arr a i.fa-chevron-left {
    font-size: 30px;
    line-height: 40px;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    left: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.slider2 .arr a i.fa-chevron-right {
    font-size: 30px;
    line-height: 40px;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    right: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.slider2 .arr a {
    text-decoration: none;
}

.slider2 .arr {
    position: relative;
    top: 50%;
    transform: translateY(-7.5%);
}

.slider2 .center {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
}

.slider2 .center h3 {
    font-family: 'Lato';
    font-weight: bold;
    font-size: 30px;
    color: #FFFFFF;
    margin-bottom: 10px;
    width: 290px;
    position: relative;
    left: 20%;
}

.slider2 .center h3 span {
    font-size: 30px;
    color: #FFFFFF;
    font-weight: 100;
}

.slider2 .center p {
    font-size: 14px;
    width: 490px;
    color: #FFFFFF;
    line-height: 24px;
    text-align: center;
    margin-bottom: 14px;
}

.slider2 .center .center-butt {
    width: 350px;
    margin: 0 auto;
}

.slider2 .center .center-butt input {
    width: 170px;
    height: 45px;
    margin-bottom: 80px;
}

.slider2 .center .center-butt input:first-of-type {
    background-color: transparent;
    font-size: 15px;
    line-height: 40px;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
}

.slider2 .center .center-butt input:last-of-type {
    background-color: #21C2F8;
    font-size: 15px;
    line-height: 40px;
    color: #FFFFFF;
    border: 1px solid #21C2F8;
}

.slider2 .center .laptop img:first-of-type {
    width: 1185px;
    height: 252px;
    position: relative;
    left: -50%;
    transform: translateX(-18%);
}

.slider2 .center .laptop img:last-of-type {
    width: 1185px;
    height: 252px;
    position: relative;
    top: 10%;
    left: -50%;
    transform: translateX(-18%);
}

/*about*/

.main .about {
    width: 1920px;
    height: 528px;
    grid-area: about;
    background-color: #ECF0F1;
}

.main .about .box {
    display: grid;
    grid-template-rows: 45px 245px;
    grid-template-columns: repeat(2, 570px);
    grid-row-gap: 45px;
    grid-column-gap: 30px;
    width: 1171px;
    margin: auto;
    padding: 90px 0px;
}

.about .box .why {
    grid-column: 1/2;
    grid-row: 2/3;
}

.about .box .services {
    grid-column: 2/3;
    grid-row: 2/3;
}

.about .box .about-title p span:first-of-type {
    color: #34495E;
    font-size: 36px;
}

.about .box .about-title p span:last-of-type {
    color: #34495E;
    font-size: 36px;
}

.about .box .why {
    display: grid;
    grid-template-rows: 40px 162px 40px;
    grid-gap: 2px;
}

/*    grid-template-columns: 530px 40px;
*/

.about .box .why .solution {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.about .box .why .solution p {
    color: #A1B1BC;
    font-size: 14px;
    line-height: 20px;
    font-family: 'Lato';
    width: 514px;
    height: 38px;
    border: 1px solid #E5E5E5;
    border-right: 0;
    display: flex;
    align-items: center;
    padding-left: 15px;
}

.about .box .why .solution:hover p {
    color: #1ABC9C;
    font-weight: bold;
}

.about .box .why .solution span {
    color: #999999;
    font-size: 16px;
    line-height: 20px;
    font-family: 'Arial';
    width: 38px;
    height: 38px;
    border: 1px solid #E5E5E5;
    display: flex;
    justify-content: center;
    align-items: center;
}

}

.about .box .why .values {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
}

.about .box .why .technology {
    background-color: #FFFFFF;
}

.about .box .why .values .our-values {
    background-color: #FFFFFF;
    width: 569px;
    height: 123px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.about .box .why .values .our-values img {
    width: 80px;
    height: 80px;
    position: relative;
    top: 15%;
    left: -2%;
}

.about .box .why .values .our-values p {
    font-size: 14px;
    line-height: 24px;
    color: #A1B1BC;
    font-family: 'Lato';
    width: 382px;
    position: relative;
    top: 16%;
    left: -8%;
}

.about .box .services {
    display: flex;
    flex-direction: column;
}

.about .box .services .head {
    display: flex;
    flex-direction: row;
}

.about .box .services .head .service-title {
    background-color: #FFFFFF;
}

.about .box .services .head .service-title p {
    font-size: 14px;
    font-family: 'Lato';
    line-height: 20px;
    color: #A1B1BC;
    padding: 10px;
    border: 1px solid #E7EAEA;
    border-right: 0;
}

.about .box .services .head .service-title:hover p {
    color: #34495E;
}

.about .box .services .head .service-title:last-of-type p {
    border-right: 1px solid #E7EAEA;
}

.about .box .services .head .overl .service-title.green {
    height: 41px;
}

.about .box .services .head .overl .service-title.green::before {
    content: '';
    display: block;
    background-color: #1ABC9C;
    position: relative;
    width: 147px;
    height: 4px;
    top: 0px;
}

.about .box .services .head .overl .service-title.green::after {
    content: '';
    display: block;
    background-color: #FFFFFF;
    position: relative;
    width: 147px;
    height: 1px;
    top: 0px;
}

.about .box .services .head .service-title.last {
    width: 210px;
}

.about .box .services .head .service-title.green:last-of-type p {
    border-right: none;
}

.about .box .services .head .overl .service-title.green p {
    color: #1ABC9C;
    border-top: none;
    border-bottom: none;
    padding: 9px;
}

.about .box .services .head .overl {
    border: 1px solid #E7EAEA;
    border-left: 0;
    border-right: 0;
    position: relative;
    top: -1px;
}

.about .box .services .services-text {
    background-color: #FFFFFF;
    width: 567px;
}

.about .box .services .services-text img {
    width: 60px;
    height: 68px;
    padding: 24px 19px;
}

.about .box .services .services-text span {
    font-size: 14px;
    line-height: 24px;
    font-family: 'Lato';
    color: #A1B1BC;
    position: absolute;
    width: 420px;
    padding-top: 25px;
}

.about .box .services .services-text p {
    font-size: 14px;
    line-height: 24px;
    font-family: 'Lato';
    color: #A1B1BC;
    padding-left: 19px;
    width: 523px;
    padding-bottom: 10px;
}

.customers {
    grid-area: customers;
    background-color: #34495E;
    display: flex;
    justify-content: space-between;
}

.wrapp {
    width: 1171px;
    margin: auto;
    display: flex;
    flex-direction: row;
}

.customers .c {
    display: flex;
    flex-direction: column;
    padding-right: 170px;
}

.customers .c h1 {
    font-size: 72px;
    font-weight: 100;
    color: #FFFFFF;
}

.customers .c p {
    font-family: 'Lato';
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
    color: #FFFFFF;
    position: relative;
    right: -70px;
}